* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "robotoregular", sans-serif;
}
@font-face {
  font-family: "robotoblack", sans-serif;
  src: url("../fonts/roboto-black-webfont.woff2") format("woff2"),
    url("../fonts/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotobold", sans-serif;
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotolight", sans-serif;
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"),
    url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotomedium", sans-serif;
  src: url("roboto-medium-webfont.woff2") format("woff2"),
    url("roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular", sans-serif;
  src: url("roboto-regular-webfont.woff2") format("woff2"),
    url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotothin";
  src: url("roboto-thin-webfont.woff2") format("woff2"),
    url("roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}
ul li {
  list-style: none;
}
.container {
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 1232px;
}

/* slick dots */

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 103%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slick-dots li button{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: none;
  font-size: 0;
  
  background: #f19696;
}
 li.slick-active button{
  background: #ed7878;
 } 



.product-slider .slick-slide > div{
  margin: 0 20px;
 }
 .product-slider .slick-list {
  margin: 0 -20px;
 }
 @media (min-width: 768px) {
  .slick-dots{
top: 92%;
  }
 }




 body.active-mode{
  background: #000 !important;
}
.active-mode .logo{
  display: none;
}
.active-mode .logo-dark{
  display: block;
}
.active-mode .magnify i{
  color: #fff;
}